.idea
docker/mysql
!docker/mysql/.gitkeep
app/config/main-local.php
app/config/params-local.php
app/config/console-local.php
docker-compose.yml
app/web/index.php
app/web/robots.txt
yii
app/runtime/*
!app/runtime/.gitkeep
app/web/assets/*
!app/web/assets/.gitkeep
logs/*
!logs/.gitkeep
vendor/*
!vendor/.gitkeep
